/* component 공통*/
@import url(../components/footer.css);
@import url(../components/nav.css);
@import url(../components/font.css);


/* component 부분 */
@import url(../components/search-bar.css);
@import url(../components/listbox.css);
@import url(../components/inputbox.css);


/* page 부분 */
@import url(../page/movie-list.css);


/* my-movie 페이지 */
.movie-box {margin-top: 30px;}

.mymovie-Box { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.mymovie-Box .mymovie-card { width: 49%; border: 1px solid gray; padding: 15px; box-sizing: border-box; border-radius: 5px; position: relative; margin-bottom: 15px;}


.movie-card { display: flex; justify-content: space-between; align-items: flex-start;}
.movie-card .card-img { width: 35%; }
.movie-card .card-img img { width: 100%; border-radius: 5px;}

.movie-card .list-cont { width: 65%; padding-left: 15px; }
.movie-card .list-cont .title { margin-right: 10px; color: blue;}
.movie-card .list-cont div { margin-bottom: 5px; }
.movie-card .list-cont .movie-name {font-size: 20px; }
.movie-card .list-cont .movie-name .movie-age { margin-right: 10px; padding: 0 5px; background-color: #fd7e14; border-radius: 7px; color: white;}
.movie-card .list-cont .movie-name .movie-tit { font-weight: 600;}


.show-card { padding-top: 15px; }
.show-card p { margin: 0; }
.show-card .show-name { padding: 5px 0; box-sizing: border-box; background-color: #e9ecef ; border-radius: 5px; text-align: center; font-weight: 600;}
.show-card .show-text { padding: 10px 0; }

.mymovie-card .review-show-del { border: none; border-radius: 5px; padding: 5px; width: 50px; box-sizing: border-box; font-size: 12px; display: inline-block; background-color: #e9ecef ; position: absolute; top: 15px; right: 15px;}