<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- Bootstrap_CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!-- Bootstrap_JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<!-- 기본CSS -->
    <link rel="stylesheet" href="../static/css/page/movie-search.css">
    <!--    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" >-->
    <script src="../static/js/search.js"></script>
    <script src="../static/js/main.js"></script>

</head>
<body>

    {% include '/layout/header.html' %}

    <form class="movie-search">
        <input type="text" class="m-searchBar" placeholder="어떤 영화를 검색하시겠어요?" id="search-box">
        <button id="search-button" type="button" onclick="goListBySearch('search')"><i class="fas fa-search"></i></button>
    </form>
    <div class="movie-box">
        <p class="movie-box-title">검색 결과 페이지</p>
        <div class="movie-listBox" id="movie_listBox">
            <div class="movie-list">
                <a class="list-img" href="#" ><img src="https://movie-phinf.pstatic.net/20211116_218/1637044152743qvvAG_JPEG/movie_image.jpg?type=m203_290_2"></a>
                <div class="list-cont">
                    <div class="movie-name">
                        <span class="movie-age">15</span><span class="movie-tit">유체이탈자</span>
                    </div>
                    <div class="summary">
                        <span class="title">개요</span><span class="text">액션</span>
                    </div>
                    <div class="director">
                        <span class="title">감독</span><span class="text">윤재근</span>
                    </div>
                    <div class="actor">
                        <span class="title">출연</span><span class="text">윤계상,박용우,임지연</span>
                    </div>
                    <div class="contents">
                        <span class="title">줄거리</span>
                        <p class="text">“누가 진짜 나인지 모르겠어요” 교통사고 현장에서 눈을 뜬 한 남자. 거울에 비친 낯선 얼굴과 이름, 자신이 누구인지 기억이 나지 않는다.</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="review-input">
            <p class="input-name">
                <span>작성자</span>
                <input class="input-name-cont" type="text" placeholder="작성자" id="author">
            </p>
            <p class="input-text">
                <span>내     용</span>
                <textarea class="input-text-cont" placeholder="내용을 입력하세요" id="review"></textarea>
                <button class="review-input-save" onclick="makeReview()">저장</button>
            </p>
        </form>
        <div class="review-show">
        </div>
    </div>

    <input type="hidden" value="{{link}}" id="url_link">

<!--    핑퐁핑퐁 2번 app.py에서 넘겨준 code값을 js에서 사용 할 수 없으므로 js에서 사용 할 수 있게 만들어 주기-->
    <input type="hidden" value="{{code}}" id="code">

    {% include '/layout/footer.html' %}

    <script>
        $(document).ready(function (){
            $('#movie_listBox').empty();
            showDetailMovie();
        })

        function showDetailMovie() {

            let link = $('#url_link').val();
            //console.log(link);

            $.ajax({
              type: 'GET',
                url: `/api/detail?link=${link}`,
                data: {},
                success: function (response) {
                    let detail = response['movie_detail'];

                    let title = detail['title'];
                    let act = detail['act'];
                    let genr = detail['genr'];
                    let desc = detail['desc'];
                    let drt = detail['drt'];
                    let image = detail['image'];
                    let url = detail['search'];

                    let temp_html = `<div class="movie-list">
                                            <a class="list-img" href="${url}" ><img src="${image}"></a>
                                            <div class="list-cont">
                                                <div class="movie-name">
                                                    <span class="movie-age">15</span><span class="movie-tit">${title}</span>
                                                </div>
                                                <div class="summary">
                                                    <span class="title">개요</span><span class="text">${genr}</span>
                                                </div>
                                                <div class="director">
                                                    <span class="title">감독</span><span class="text">${drt}</span>
                                                </div>
                                                <div class="actor">
                                                    <span class="title">출연</span><span class="text">${act}</span>
                                                </div>
                                                <div class="contents">
                                                    <span class="title">줄거리</span>
                                                    <p class="text">“${desc}</p>
                                                </div>
                                            </div>
                                        </div>`;

                    $('#movie_listBox').append(temp_html);
                }
            })

        }
    </script>
</body>
</html>