<footer>
    <div class="footer-box">
        <div class="footer-minibox">
            <p class="footer-tit">햇병아리 개발자도전하다</p>
            <div class="footer-icon">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fas fa-comment-dots"></i>
                <i class="fab fa-amilia"></i>
            </div>
        </div>
        <p class="footer-person">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">개발자 정보 보기<i class="fas fa-chevron-down"></i>
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body footer-content">
                <div class="footer-text">
                    <p class="name">문병민</p>
                    <p class="hobby">Backend - Java, Spring</p>
                    <a class="blog" href="https://www.notion.so/c5cd3a39f0b54a8ca73d330a81e97f95"
                       target="_blank">블로그</a>
                </div>
                <div class="footer-text">
                    <p class="name">정소영</p>
                    <p class="hobby">frontend - React.js </p>
                    <a class="blog" href="https://thdud4479.tistory.com/" target="_blank">블로그</a>
                </div>
                <div class="footer-text">
                    <p class="name">신지훈</p>
                    <p class="hobby">frontend - React.js </p>
                    <a class="blog" href="https://velog.io/@rmfos82/series/" target="_blank">블로그</a>
                </div>
                <div class="footer-text">
                    <p class="name">서예지</p>
                    <p class="hobby">주특기 : </p>
                    <a class="blog" href="https://yejiyeji95.tistory.com/" target="_blank">블로그</a>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright © 2021 햇병아리 개발공부 <i class="fas fa-dove"></i> All Rights Reserved.</p>
    </div>
</footer>